<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="../js/layui/css/layui.css" />
		<link rel="stylesheet" type="text/css" href="../css/projectInfo.css"/>
	</head>

	<script type="text/javascript" src="../js/jquery-3.3.1.js"></script>
	<script type="text/javascript" src="../js/layui/layui.js"></script>
	<script type="text/javascript" src="../js/project/houseManger/addHouseInfo.js"></script>
	<body>
		<div>
			<div id="head"></div>
			<div id="body">
				<div id="projectMainInfio" class="layui-container">
					<div class="layui-row">
						<div class="layui-col-md2">
							<div style="width: 30%; display: inline-block;">工程名称</div>
						</div>

						<div class="layui-col-md4">
							<div style="display: inline-block;width: 90%"><input id="projectNmae" style="width: 100%;" placeholder="请输入工程名称" /></div>
						</div>

						<div class="layui-col-md2">
							<div style="width: 30%;display: inline-block;vertical-align: top;">门牌号</div>
						</div>

						<div class="layui-col-md4">
							<div style="display: inline-block;width: 100%">
								<div>
									<select style="display: inline-block;width: 32%;">
										<option>1</option>
										<option>1</option>
										<option>1</option>
									</select>
									<select style="display: inline-block;width: 32%;;">
										<option>1</option>
										<option>1</option>
										<option>1</option>
									</select>
									<select style="display: inline-block;width: 32%;;">
										<option>1</option>
										<option>1</option>
										<option>1</option>
									</select>
								</div>
								<div style="margin-top: 10px;">
									<textarea style="width: 97.5%;height: 50px;"></textarea>
								</div>
							</div>
						</div>
					</div>

					<div class="layui-row" style="margin-top: 10px;">
						<div class="layui-col-md2">
							<div style="width: 30%; display: inline-block;">检测日期</div>
						</div>
						<div class="layui-col-md4">
							<div style="display: inline-block;width: 90%"><input id="checkDate" style="width: 100%;" placeholder="请输入工程名称" /></div>
						</div>
						<div class="layui-col-md2">
							<div style="width: 30%;display: inline-block;vertical-align: top;">户主姓名</div>
						</div>
						<div class="layui-col-md4">
							<div style="display: inline-block;width: 100%"><input id="masterName" style="width: 100%;" placeholder="请输入工程名称" /></div>
						</div>
					</div>
				</div>
				<div id="projectItemInfo" class="layui-container">
					<div id="item0" class="layui-row" style="margin-top: 25px;">
						<input type="hidden" value="0" />
						<div class="layui-row">
							<div class="layui-col-md2">
								构件序号
							</div>
							<div class="layui-col-md10">
								<input id="serialNum0" style="width: 98.5%;" />
							</div>
						</div>
						<div class="layui-row">
							<div class="layui-col-md2">
								构件位置
							</div>
							<div class="layui-col-md10">
								<input type="radio" name="itemLocation0" value="0">墙面
								<input type="radio" name="itemLocation0" value="1">天棚
								<input type="radio" name="itemLocation0" value="2">地面
							</div>
						</div>
						<div class="layui-row">
							<div class="layui-col-md2">
								构件方向
							</div>
							<div class="layui-col-md10">
								<input type="radio" name="itemDirection0" value="0">东
								<input type="radio" name="itemDirection0" value="1">南
								<input type="radio" name="itemDirection0" value="2">西
								<input type="radio" name="itemDirection0" value="3">北
							</div>
						</div>

						<div class="layui-row crack_item_style">
							<div id="crackItem00" class="layui-row">
								<input type="hidden" value="0" />
								<div class="layui-row">
									<div class="layui-col-md2">
										裂缝性质
									</div>
									<div class="layui-col-md10">
										<input type="radio" name="crackType00" value="0">装饰面层
										<input type="radio" name="crackType00" value="1">构建
									</div>
								</div>
								<div class="layui-row">
									<div class="layui-col-md2">
										墙面
									</div>
									<div class="layui-col-md10">
										<input type="radio" name="wallDamageType00" value="0">龟裂
										<input type="radio" name="wallDamageType00" value="1">空鼓
									</div>
								</div>
								<div class="layui-row">
									<div class="layui-col-md2">
										裂缝方向
									</div>
									<div class="layui-col-md10">
										<input type="checkbox" name="crackDirection00" value="0">斜
										<input type="checkbox" name="crackDirection00" value="1">竖
										<input type="checkbox" name="crackDirection00" value="3">水
										<input type="checkbox" name="crackDirection00" value="4">不规则
									</div>
								</div>
								<div class="layui-row">
									<div class="layui-col-md2">
										最大宽度mm
									</div>
									<div class="layui-col-md10">
										<input id="maxLength00" style="width: 98.5%;" />
									</div>
								</div>
								<div class="layui-row">
									<div class="layui-col-md2">
										示意图
									</div>
									<div class="layui-col-md10">
										<div style="border: #C2C2C2 1px solid;width: 100%;color: #C2C2C2;">
											<div id="exampleImage00" style="display: inline-block;text-align: center;border: #C2C2C2 1px solid;margin-top: 5px;margin-bottom: 5px;">
												<input type="hidden" id="exampleImagePath00" value="" >
												<i class="layui-icon layui-icon-add-circle-fine" style="font-size: 80px;"></i><br />
												添加图片
											</div>
											<div id="preview00" style="display: inline-block;vertical-align: top;margin-top: 5px;">
											</div>
										</div>
									</div>
								</div>
								<div class="layui-row" style="text-align: right;">
									<div class="layui-col-md12">
										<button onclick="deleteCrackItem('00')">删除裂缝项</button>
									</div>
								</div>
							</div>
							<div class="layui-row" style="margin-top: 20px;">
								<div class="layui-col-md12">
									<button onclick="addCrackItem('0')">新增裂缝项</button>
								</div>
							</div>
						</div>
						<div class="layui-row">
							<div class="layui-col-md2">
								全景图
							</div>
							<div class="layui-col-md10">
							<div style="border: #C2C2C2 1px solid;width: 100%;color: #C2C2C2;">
								<div id="fullExampleImage0" style="display: inline-block;text-align: center;border: #C2C2C2 1px solid;margin-top: 5px;margin-bottom: 5px;">
									<input type="hidden" id="fullExampleImagePath0" value="">
									<i class="layui-icon layui-icon-add-circle-fine" style="font-size: 80px;"></i><br />
									添加图片
								</div>
								<div id="preview0" style="display: inline-block;vertical-align: top;margin-top: 5px;">
								</div>
							</div>
						</div>
						</div>
						<div class="layui-row">
							<div class="layui-col-md2">
								其他
							</div>
							<div class="layui-col-md10">
								<input id="others0" style="width: 98.5%;" />
							</div>
						</div>
						<div class="layui-row" style="margin-top: 20px;">
							<div class="layui-col-md12" style="text-align: right">
								<button onclick="deleteProjectItem(0)">刪除此构件项</button>
							</div>
						</div>
					</div>
					<div class="layui-row" style="margin-top: 20px;">
						<div class="layui-col-md12">
							<button onclick="addProjectItem()">新增构件项</button>
						</div>
					</div>
				</div>
			</div>
			<div id="foot">
				<div class="layui-container">
					<div class="layui-row">
						<div class="layui-col-md2" style="text-align: right">
							<button onclick="saveProjectInfo()">保存信息</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>

</html>