<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

	<head>
		<meta charset="utf-8" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="../js/layui/css/layui.css" />
		<link rel="stylesheet" type="text/css" href="../css/projectInfo.css"/>
	</head>

	<script type="text/javascript" src="../js/jquery-3.3.1.js"></script>
	<script type="text/javascript" src="../js/layui/layui.js"></script>
	<script type="text/javascript" src="../js/project/houseManger/editHouseInfo.js"></script>
	<body>
		<div>
			<div id="head"></div>
			<div id="body">
				<div id="projectMainInfio" class="layui-container">
					<input type="hidden" id="houseId" name="houseId" th:value="${houseId}">
					<div class="layui-row">
						<div class="layui-col-md2">
							<div style="width: 30%; display: inline-block;">工程名称</div>
						</div>

						<div class="layui-col-md4">
							<div style="display: inline-block;width: 90%"><input id="projectNmae" style="width: 100%;" class="layui-input" placeholder="请输入工程名称" /></div>
						</div>

						<div class="layui-col-md2">
							<div style="width: 30%;display: inline-block;vertical-align: top;">门牌号</div>
						</div>

						<div class="layui-col-md4">
							<div style="display: inline-block;width: 100%">
									<textarea id="houseNum" class="layui-input" style="width: 97.5%;height: 50px;" placeholder="请输入门牌号"></textarea>
							</div>
						</div>
					</div>

					<div class="layui-row" style="margin-top: 10px;">
						<div class="layui-col-md2">
							<div style="width: 30%; display: inline-block;">检测日期</div>
						</div>
						<div class="layui-col-md4">
							<div style="display: inline-block;width: 90%"><input id="checkDate" class="layui-input" style="width: 100%;" placeholder="请选择检测日期" /></div>
						</div>
						<div class="layui-col-md2">
							<div style="width: 30%;display: inline-block;vertical-align: top;">户主姓名</div>
						</div>
						<div class="layui-col-md4">
							<div style="display: inline-block;width: 100%"><input id="masterName" class="layui-input" style="width: 100%;" placeholder="请输入户主姓名" /></div>
						</div>
					</div>
				</div>
				<div id="projectItemInfo" class="layui-container">
					<div class="layui-row" style="margin-top: 20px;">
						<div class="layui-col-md12">
							<button onclick="addProjectItem()">新增构件项</button>
						</div>
					</div>
				</div>
			</div>
			<div id="foot">
				<div class="layui-container">
					<div class="layui-row">
						<div class="layui-col-md12" style="text-align: right">
							<button onclick="saveProjectInfo()">保存信息</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>

</html>